<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PGSQLCS"
		     connectionString="Server=127.0.0.1;Port=5432;Database=CinturonApretado;UserId=rodolfo;Password=lOCMFopn"
		     providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very" />
		<add key="Setting2" value="Easy" />
 	</appSettings>
</configuration>
