<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		 <add name="MySQLCS"
			connectionString="Server=127.0.0.1;Uid=rodolfo;Pwd=12345678;DATABASE=sgc"
			providerName="Microsoft.Data.Odbc" /> 
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very" />
		<add key="Setting2" value="Easy" />
 	</appSettings>
</configuration>
