<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		 <add name="SQLServerCS"
			connectionString="Data Source=192.168.1.22;Initial Catalog=GPSMapas;User Id=mihuve;Password=master"
			providerName="System.Data.SqlClient" /> 
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very" />
		<add key="Setting2" value="Easy" />
 	</appSettings>
</configuration>
