<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
	<connectionStrings>
		<add name="TestPostgreSQLEDM"
		     connectionString="provider=Npgsql;metadata=..\..\DBSQLUtilsConsoleTests.csdl|..\..\DBSQLUtilsConsoleTests.msl|..\..\DBSQLUtilsConsoleTests.ssdl;Provider Connection String='Server=127.0.0.1;Port=5432;Database=CinturonApretado;UserId=rodolfo;Password=lOCMFopn'"
		     providerName="System.Data.EntityClient" />
		<add name="RawPostgreSQL"
		     connectionString="Server=127.0.0.1;Port=5432;Database=CinturonApretado;UserId=rodolfo;Password=lOCMFopn"
		     providerName="Npgsql" />
	</connectionStrings>
</configuration>
